[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml
[submodule "tinydir"]
	path = tinydir
	url = https://github.com/cxong/tinydir
[submodule "fips_sha2"]
	path = fips_sha2
	url = https://github.com/ogay/sha2/
[submodule "crypto-algorithms"]
	path = crypto-algorithms
	url = https://github.com/B-Con/crypto-algorithms
