[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml
[submodule "tinydir"]
	path = tinydir
	url = https://github.com/cxong/tinydir
[submodule "crypto-algorithms"]
	path = crypto-algorithms
	url = https://github.com/B-Con/crypto-algorithms
[submodule "uriparser"]
	path = uriparser
	url = https://github.com/uriparser/uriparser
