[submodule "pugixml"]
	path = pugixml
	url = https://github.com/zeux/pugixml
[submodule "tinydir"]
	path = tinydir
	url = https://github.com/cxong/tinydir
[submodule "TinySHA1"]
	path = TinySHA1
	url = https://github.com/mohaps/TinySHA1
[submodule "PicoSHA2"]
	path = PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
